# This file includes environment variables that will be committed to git by default.

# Built-in environment variables
TEAMSFX_ENV=dev
APP_NAME=GitHub Issues
CONNECTOR_ID=githubissues
CONNECTOR_NAME=GitHub Issues
CONNECTOR_DESCRIPTION=Connection that indexes all GitHub issues from a specific owner and repo.
CONNECTOR_REPOS=org/repo-a,org/repo-b

# Updating Azure resources
AZURE_SUBSCRIPTION_ID=
AZURE_RESOURCE_GROUP_NAME=
RESOURCE_SUFFIX=

# Generated during provision, you can also add your own variables.